# ========================
# 1. NODE.JS (JavaScript)
# ========================
node_modules/
npm-debug.log

# ========================
# 2. PYTHON 
# ========================
venv/
__pycache__/
*.py[cod]
*$py.class

# ========================
# 3. MODELOS DE INTELIGENCIA ARTIFICIAL
# ========================
*.pt
yolov8x-oiv7.pt

# ========================
# 4. SEGURIDAD
# ========================
.env

# ========================
# 5. AWS CLOUD9 Y SISTEMA OPERATIVO
# ========================
.c9/
.DS_Store
Thumbs.db

# ========================
# 6. ARCHIVOS TEMPORALES GENERADOS
# ========================
output.json
# (Si quieres subir scrapetest.json para que los jueces lo vean, NO lo pongas aquí)